@model IEnumerable<MyBiciShop.Models.Orders>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Cliente
        </th>
        <th>
            Vendedor
        </th>

        <th>
            Estado de la Orden
        </th>
        <th>
            Fecha de la Orden
        </th>

        <th>
            Envio Estimado
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Customers.full_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Staffs.first_name)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.order_status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.order_date)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.shipped_date)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.order_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.order_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.order_id })
        </td>
    </tr>
}

</table>
