@model IEnumerable<MyBiciShop.Models.Products>

@{
    ViewBag.Title = "Products";
}

<h2>Products</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-warning btn-xs" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Brands.brand_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Categories.category_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.product_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.model_year)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.list_price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Brands.brand_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Categories.category_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.product_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.model_year)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.list_price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>*@
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.product_id }, new { @class="btn btn-info btn-xs"}) |
            @Html.ActionLink("Details", "Details", new { id=item.product_id }, new { @class="btn btn-success btn-xs"}) |
            @Html.ActionLink("Delete", "Delete", new { id=item.product_id }, new { @class="btn btn-danger btn-xs"})
        </td>
    </tr>
}

</table>
